<p style="line-height:50px;font-weight:700;color:#333;margin-left:70px;margin-top:0px;width:100%;width:100%;font-size:xx-large">
  SpaceX Mission Launch List
</p>
<div class="mission-holder" *ngFor="let mission of missionList">
    <div class="card-container">
      <mat-card style="width:100%;max-width:700px;background-color:#88cdfa">
        <mat-card-header style="display:flex;flex-direction:row">
            <div>
              <img src={{mission?.links.mission_patch_small}} style="width:100%;max-width:90px">
            </div>
            <div class="tytleHolder">
              <mat-card-title style="margin-left:30px;margin-top:5px;font-size:28px">
                {{mission?.mission_name}}
              </mat-card-title>
              <mat-card-subtitle style="margin-left:35px;font-weight:700">
                {{ mission?.launch_year}}
              </mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>
          <p style="font-size:17px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">{{ mission?.details? mission.details : "No details for this mission."}}</p>
        </mat-card-content>
        <mat-card-footer style="padding-right:30px;">
          <mat-card-actions align="end">
            <app-child [mission]="mission" (notify)="onNotified"></app-child>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
