


<!-- Toolbar -->
<div class="toolbar" style="position:sticky !important;margin-botton:0px;;;margin-top:0px;z-index:999" role="banner">
  <span style="font-size:xx-large;padding-left:3px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">CLOSE CALL TO SPACE</span>

  <ul>
    <li><a class="nav" href="/">Home</a></li>
    <li><a class="nav" href="/missionlist">Missions</a></li>
    <!-- <li><a class="nav" href="/missiondetails">Employee</a></li> -->
  </ul>

</div>

<div class="content" role="main">

  
  <router-outlet></router-outlet>


<!-- <input type="text" [(ngModel)]="uId" />
<button (click)="getUserById(uId)">Get User</button> -->
<!-- <input type="number" min='1' name="missionId" placeholder="Enter mission id" id="missionId" #missionId/>
<button (click)="getById(missionId.value)">Get</button>

 <img src={{mission?.links.mission_patch_small}}/> {{mission?.mission_id}} -->

  

  <!-- Footer -->
  <footer>
     
  </footer>


  <!-- 
    
    <div style="width:100%;max-width:500px;margin:0 auto;padding:0 20px 0 20px;background:red">
      <mat-card style="width:100%;max-width:700px">
        <mat-card-header>
          <mat-card-title>Title</mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>This is some content for the content</p>
        </mat-card-content>
      
        <mat-card-footer style="padding-right:30px;">
          <mat-card-actions align="end">
            <button mat-raised-button color="primary">Submit</button>
            <button mat-stroked-button>Cancel</button>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </div>
  
   -->


</div>
